
/*
    主色调：#00599F
    次色调：#0063B1
*/


/* 正文 */
.ui-widget-content {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
}

    .ui-widget-content a {
        color: #444;
    }

/* 标题栏 */
.ui-widget-header {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
}

    .ui-widget-header a {
        color: #444;
    }

    /* 状态样式
     * ui-state-default: 缺省
     * ui-state-hover: 悬停
     * ui-state-focus: 焦点
     * ui-state-active: 激活
     * ui-state-highlight: 高亮 
     * ui-state-error: 错误
     * ui-state-disabled: 禁用
     */
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border-color: #ddd;
        background-color: #ffffff;
        color: #444;
    }

        .ui-state-default a,
        .ui-state-default a:link,
        .ui-state-default a:visited {
            color: #444;
        }

    .ui-state-hover,
    .ui-widget-content .ui-state-hover,
    .ui-widget-header .ui-state-hover,
    .ui-state-focus,
    .ui-widget-content .ui-state-focus,
    .ui-widget-header .ui-state-focus {
        border-color: #ddd;
        background-color: #f6f6f6;
        color: #00599F;
    }

        .ui-state-hover a,
        .ui-state-hover a:hover,
        .ui-state-hover a:link,
        .ui-state-hover a:visited,
        .ui-state-focus a,
        .ui-state-focus a:hover,
        .ui-state-focus a:link,
        .ui-state-focus a:visited {
            color: #00599F;
        }

    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        border-color: #ddd;
        background-color: #eee;
        color: #00599F;
    }

        .ui-state-active a,
        .ui-state-active a:link,
        .ui-state-active a:visited {
            color: #00599F;
        }


    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
        border-color: #BF8A8A;
        background-color: #fff;
        color: #000;
    }

        .ui-state-highlight a,
        .ui-widget-content .ui-state-highlight a,
        .ui-widget-header .ui-state-highlight a {
        }

    .ui-state-error,
    .ui-widget-content .ui-state-error,
    .ui-widget-header .ui-state-error {
        border-color: #ffa8a8;
        background-color: #fff8f8;
        color: #000;
    }

        .ui-state-error a,
        .ui-widget-content .ui-state-error a,
        .ui-widget-header .ui-state-error a {
        }

    .ui-state-error-text,
    .ui-widget-content .ui-state-error-text,
    .ui-widget-header .ui-state-error-text {
        color: #000;
    }

    .ui-priority-primary,
    .ui-widget-content .ui-priority-primary,
    .ui-widget-header .ui-priority-primary {
    }

    .ui-priority-secondary,
    .ui-widget-content .ui-priority-secondary,
    .ui-widget-header .ui-priority-secondary {
        opacity: .7;
        filter: alpha(opacity=70);
        font-weight: normal;
    }

    .ui-state-disabled,
    .ui-widget-content .ui-state-disabled,
    .ui-widget-header .ui-state-disabled {
        opacity: .5;
        filter: alpha(opacity=50);
        background-image: none;
    }

        .ui-state-disabled .ui-icon {
            filter: alpha(opacity=50);
        }

/* 图标字体 */
.ui-icon,
.ui-widget-content .ui-icon {
    color: #888;
}

.ui-widget-header .ui-icon {
    color: #888;
}

.ui-state-default .ui-icon {
    color: #888;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
    color: #00599F;
}

.ui-state-active .ui-icon {
    color: #00599F;
}

.ui-state-highlight .ui-icon {
    color: #888;
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    color: #ff6c6c;
}


/* 圆角 */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 4px;
}


/* 特殊样式 - 选项卡的激活状态 */
.f-tabstrip-plain > .f-panel-body,
.f-tabstrip-plain > .f-panel-header,
.f-tabstrip-plain > .f-panel-header .f-panel-tools,
.f-tabstrip-bordercolor .f-tab-header {
    border-color: #ddd;
}

.f-tabstrip-plain > .f-toolbar {
    border-left-color: #ddd;
    border-right-color: #ddd;
}

.f-tabstrip-plain.f-tabstrip-header-top > .f-panel-header .f-tabstrip-scroller,
.f-tabstrip-plain.f-tabstrip-header-right > .f-panel-header .f-tabstrip-scroller {
    border-bottom-color: #ddd;
}

.f-tabstrip-plain.f-tabstrip-header-bottom > .f-panel-header .f-tabstrip-scroller,
.f-tabstrip-plain.f-tabstrip-header-left > .f-panel-header .f-tabstrip-scroller {
    border-top-color: #ddd;
}

.f-tab-header.ui-state-active {
    background-color: #fff;
}

    .f-tab-header.ui-state-active .ui-icon {
    }


/* 特殊样式 - 表格选中单元格的边框 */
.f-grid-selectedcell-border {
    border-color: #ddd !important;
}


/* 特殊样式 - 表格行的激活样式 */
.f-grid-row.ui-state-active {
}

    .f-grid-row.ui-state-active a,
    .f-grid-row.ui-state-active a:link,
    .f-grid-row.ui-state-active a:visited {
    }

    .f-grid-row.ui-state-active .ui-icon {
    }


/* 特殊样式 - 启用树标题栏样式 */
.f-tree-headerstyle .f-panel-body {
    background-color: #fff;
}

.f-tree-headerstyle .f-tree-node.ui-widget-header .f-tree-cell-inner,
.f-tree-minimode-item-inner {
    border-color: #ddd;
}

.f-toolbar-buttonplain,
.f-toolbar-buttonplain .f-buttongroup .f-btn:after {
    border-color: #ddd !important;
}

/* 特殊样式 - 按钮按下状态 */
.f-btn.ui-state-active {
    background-color: #00599F;
    color: #fff;
}

    .f-btn.ui-state-active .ui-icon {
        color: #fff;
    }

/* 特殊样式 - 主框架纯色 */
.bgpanel.topregion,
.bgpanel.bottomregion {
    background-color: #00599F;
}

.bgpanel,
.mainpanel .f-region-split {
    background-color: #0063B1;
}

    .bgpanel .ui-widget-header,
    .bgpanel .ui-widget-content,
    .bgpanel .f-tree-headerstyle .f-panel-body,
    .bgpanel .f-tree-node.ui-widget-header .f-tree-cell-inner,
    .bgpanel .f-tree-minimode-item .f-tree-minimode-item-inner {
        background-color: transparent;
        border-color: transparent;
        background-image: none;
    }

    .bgpanel .ui-state-hover,
    .bgpanel .ui-state-focus,
    .bgpanel .ui-state-active {
        background-color: rgba(255, 255, 255, 0.10);
    }

    .bgpanel .ui-widget-header,
    .bgpanel .ui-widget-content,
    .bgpanel a,
    .bgpanel .ui-icon {
        color: #ddd;
    }

        .bgpanel a:hover,
        .bgpanel .ui-state-hover,
        .bgpanel .ui-state-hover a,
        .bgpanel .ui-state-hover .ui-icon,
        .bgpanel .ui-state-focus,
        .bgpanel .ui-state-focus a,
        .bgpanel .ui-state-focus .ui-icon,
        .bgpanel .ui-state-active,
        .bgpanel .ui-state-active a,
        .bgpanel .ui-state-active .ui-icon {
            color: #fff;
        }

.leftregion,
.centerregion {
    border-width: 0;
}

    /* 特殊样式 - 主区域选项卡样式 */
    .centerregion .f-tabstrip-header .f-tab-header {
        border-width: 0;
    }

    .centerregion .f-tabstrip-header .f-tab-header {
        padding-left: 14px;
        padding-right: 14px;
    }

.f-compactmode .centerregion .f-tabstrip-header .f-tab-header {
    padding-left: 10px;
    padding-right: 10px;
}

.f-largemode .centerregion .f-tabstrip-header .f-tab-header,
.f-largespacemode .centerregion .f-tabstrip-header .f-tab-header {
    padding-left: 18px;
    padding-right: 18px;
}

.centerregion .f-tabstrip-header .f-tab-header.ui-state-active:after {
    height: 2px;
    background-color: #00599F;
}



/* 特殊样式 - 去除部分控件边框*/
.f-window {
    border-width: 0;
}

.f-grid-colheader,
.f-grid-colheader-trigger {
    border-width: 0;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: #efefef;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, .25);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, .3);
    }
