
@{
    ViewBag.Title = "LackOfJS";
}

@section body{
<h1>请开启JavaScript</h1>
<h2>Lime项目管理系统需要客户端开启JavaScript</h2>
<p><a href="https://www.baidu.com/s?wd=%E5%A6%82%E4%BD%95%E5%BC%80%E5%90%AFJavaScript">如何开启JavaScript</a></p>
}